#adminPage {
  background: var(--bg-feature);

  .wrapAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .blockSearch {
      width: 60%;
      #searchProductName {
        padding: 5px 20px;
        margin: 20px 0;
        border-radius: 8px;
        border: 1px solid #ccc;
        width: 70%;
        margin-right: 30px;
        &:focus {
          outline: none;
        }
      }
    }
  }

  h1 {
    color: var(--color-blue-1);
    text-align: center;
  }

  .btnAddProduct {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #007bff;
    color: #fff;
  }

  .btn-edit {
    background: #28a745;
    color: #fff;
  }
  .btn-delete {
    background: #dc3545;
    color: #fff;
  }
  .btn-edit:hover,
  .btn-delete:hover,
  .btnAddProduct:hover {
    opacity: 0.8;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
  }

  th {
    background-color: #f2f2f2;
  }

  .tableAdminPage {
    .table {
      width: 100%;
      margin-bottom: 16px;
      color: #212529;

      th,
      td {
        text-align: center;
        padding: 12px;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        color: var(--color-blue-1);
        background: var(--color-white-1);
      }

      td {
        i {
          cursor: pointer;
        }
      }

      thead th {
        color: var(--color-blue-1);
        vertical-align: middle;
        border-bottom: 2px solid #dee2e6;
        background-color: var(--color-white-1);
      }

      tbody + tbody {
        border-top: 2px solid #dee2e6;
      }

      img {
        max-width: 100px;
      }
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.confirmation-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 1002;
}
#wrapForm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  width: 50%;

  h2 {
    color: var(--color-blue-1);
    font-weight: var(--fw-3);
    text-align: center;
  }

  button {
    display: block;
    margin: 0 auto;
  }
  span {
    color: red;
  }
}
