@import "../helpers/variables";

// html {
//   --primary-test: yellow;
// }

:root {
  --color-blue-1: #1d365e;
  --bg-feature: #fff;
  --bg-img: #fff;
  --color-white-1: #f5f9fe;
  --color-dark-1: #656774;
  --header-color: #1d365e;
}
