// Reset các thuộc tính mặc định của trình duyệt

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
